@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Geologica:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 125% !important;
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    background: #001025;
}

button {
    cursor: pointer;
}

.home {
    width: 100%;
    height: 100vh;
    background: url(img/main-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 165px;
    padding: 40px;
}

.logo {
    width: 158px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    max-width: 650px;
    color: #fff;
}

.home-content h1 {
    white-space: pre-line;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0%;
}

.home-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.blue-btn {
    width: fit-content;
    padding: 16px 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    background: linear-gradient(180deg, #06A7F1 0%, #006BA7 100%);
    border-radius: 10px;
    border: none;
    transition: .3s;
}


.blue-btn:hover {
    background: linear-gradient(to right bottom, #B8E7FF, #006BA7);
    box-shadow: 0 4px 50px 0 #44c4ff7d;

}

.substitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--Variables-Primary-Color-Text, rgba(68, 197, 255, 1));
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.info-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(152, 152, 152, 1);
}

.skill {
    padding: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

.skill-top {
    max-width: 832px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.skill-top .info-text {
    margin-top: 20px;
}

.skill-items {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.skill-item {
    flex-grow: 1;
    height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--variables-background-color-layer-2, rgba(0, 23, 45, 1));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 60px 0;
    overflow: hidden;
    position: relative;
}

.skill-item::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(68, 196, 255, .3), transparent 70%);
    left: -100px;
    top: 100%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    opacity: 0;

}

.skill-item::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(68, 196, 255, .3), transparent 70%);
    right: -100px;
    top: -100%;
    transform: translateY(50%);
    transition: all 0.4s ease;
    opacity: 0;

}

.skill-item:hover::after {
    top: 0;
    opacity: 1;
}

.skill-item:hover::before {
    top: 0;
    opacity: 1;
}

.skill-item>div {
    position: relative;
}

.skill-item>div img {
    z-index: 1;
    position: relative;
    width: 96px;
}

.skill-item>div::after {
    content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: radial-gradient(rgba(68, 197, 255, 0.4), transparent, transparent);
    opacity: .9;
    z-index: 0;
    transition: all 0.4s ease;

}

.skill-item p {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(68, 197, 255, 1);
    margin-top: 14px;
    transition: all 0.4s ease;
}

.skill-item span {
    opacity: 0;
    max-height: 0;
    transition: all 0.4s ease;
    color: #fff;
    white-space: pre-line;
}

.skill-item:hover span {
    margin-top: 14px;
    opacity: 1;
    max-height: auto;
}

.skill-item:hover>div::after {
    opacity: 0;
}

.vision {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 64px 112px;
    background: rgba(0, 23, 45, 1);
}

.vision .title {
    max-width: 1408px;
    width: fit-content;
}

.works {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 160px;
}

.works-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.works-left .info-text {
    margin-top: 20px;
}

.works-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.works-item {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    background: rgba(0, 23, 45, 1);
    padding: 16px;
    transition: .3s;
}

.works-item>img {
    width: 64px;
    height: 64px;
    padding: 14px;
    border-radius: 50%;
    background: rgba(2, 33, 58, 1);
    transition: .3s;
    object-fit: cover;
}

.works-item:hover {
    background: linear-gradient(to right, #44c4ff42, #02213A);
    box-shadow: -16px 0 40px 0 #29708f40;
}

.works-item:hover>img {
    padding: 9px;
    background: transparent;
}

.works-item>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.works-item p {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(68, 197, 255, 1);
}

.works-item span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.founder {
    padding: 0 112px;
}

.founder_content {
    padding: 48px;
    display: flex;
    align-items: center;
    gap: 32px;
    padding-right: 50px;
    background: rgba(0, 23, 45, 1);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.founder_content::after {
    content: '';
    width: 800px;
    height: 800px;
    background: radial-gradient(#44c4ff7a, transparent, transparent);
    position: absolute;
    left: -195px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    opacity: 0;
    z-index: -1;
}

.founder_content:hover:after {
    left: 100%;
    opacity: 1;
    z-index: 0;
    transform: translateY(-50%) translateX(-50%);
}

.founder_content>div {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.founder_content .info-text {
    margin-top: 20px;
    line-height: 25px;
}

.system {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
}

.system .info-text {
    margin-top: 24px;
    max-width: 832px;
}

.system .title {
    margin-top: 4px;
}

.status-block {
    margin-top: 32px;
    display: flex;
    gap: 30px;
}

.status-item {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: rgba(0, 23, 45, 1);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 23, 45, 1);
}

.status-item::after {
    content: '';
    width: 700px;
    height: 450px;
    background: radial-gradient(#44c4ff4b, transparent, transparent);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    transition: .3s;
    opacity: 0;
    z-index: -1;
}

.status-item:hover::after {
    opacity: 1;
    z-index: 0;
    top: -200px;
}

.status-item:hover {
    border-color: #44C5FF;
}

.status-item h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(68, 197, 255, 1);
}

.status-item p {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(152, 152, 152, 1);
}

.status-item_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-item_top span {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(152, 152, 152, 1);
}

.status-item button {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(152, 152, 152, 1);
    padding: 16px;
    background: none;
    border: none;
}

.status-item ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
}

.status-item li {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 28px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 24px;
    text-align: left;
}

.status-item li::after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.status-item li.check::after {
    background: url(img/check.svg);
}

.status-item li.cross::after {
    background: url(img/cross.svg);
}

.pdf-about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 100px;
}

.pdf-about_content {
    width: 832px;
    padding: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 16px;
    background: rgba(0, 23, 45, 1);
}

.pdf-about .blue-btn {
    text-decoration: none;
}

.corusel {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 160px;
}

.corusel-top {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.corusel-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    counter-reset: item-counter;
}

.corusel-items {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 262px;
    gap: 25px;
}

.corusel-items:nth-of-type(even) {
    grid-template-columns: 262px 1fr;
}

.corusel-item {
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
    background: rgba(0, 23, 45, 1);
    border-radius: 20px;
    padding: 32px;
    counter-increment: item-counter;
    overflow: hidden;
    z-index: 0;
}

.corusel-item::before {
    content: '';
    width: 1300px;
    height: 800px;
    background: radial-gradient(#44c4ff7a, transparent, transparent);
    position: absolute;
    left: -195px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    opacity: 0;
    z-index: -1;
}

.corusel-item:hover::before {
    left: 100%;
    opacity: 1;
    z-index: 0;
    transform: translateY(-50%) translateX(-50%);
}

.corusel-item:hover img {
    width: 136px;
    height: 136px;
}

.corusel-item:hover .corusel-item_left::after {
    opacity: 0;
}


.corusel-item::after {
    content: counter(item-counter);
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-family: Open Sans;
    font-weight: 800;
    font-size: 256px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(2, 33, 58, 1);
}

.corusel-item_right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.corusel-item_right>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.corusel-item p {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(152, 152, 152, 1);
}

.corusel-item h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(68, 197, 255, 1);
}

.corusel-item span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.corusel-item_left {
    position: relative;
}

.corusel-item_left::after {
    content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: radial-gradient(rgba(68, 197, 255, 0.4), transparent, transparent);
    opacity: .9;
    z-index: 0;
    transition: .3s;
}

.corusel-item_left img {
    width: 128px;
    height: 128px;
    z-index: 1;
    position: relative;
    transition: .3s;
}


#videoModal video {
    width: 70%;
}

#videoModal > div {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
}

@media screen and (max-width:1400px) {
    body {
        background-image: url(img/main-bg-mob.png);
        /* background-size: 360px 600px; */
        background-repeat: no-repeat;


    }

    .home {
        padding: 24px 10px;
        gap: 72px;
        height: 460px;
        background: none;
    }

    .home-content {
        gap: 12px;
    }

    .home-content h1 {
        font-size: 32px;
        line-height: 116%;
    }

    .home-content p {
        font-size: 16px;
        height: 44px;
    }

    .blue-btn {
        padding: 16px 40px;
        font-size: 16px;
    }

    .title {
        font-size: 24px;
        max-width: 243px;
    }

    .skill-top .info-text {
        font-size: 16px;
        margin-top: 8px;
    }

    .skill {
        gap: 10px;
        padding: 80px 10px;
    }

    .skill-items {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skill-item {
        min-height: 210px;
        padding: 8px;
        overflow: hidden;
    }

    .vision .title {
        font-size: 20px;
        width: 100%;
        height: 82px;
        overflow: hidden;
    }

    .vision {
        padding: 24px 10px;
    }

    .works {
        padding: 80px 10px;
        gap: 12px;
        flex-direction: column;
    }

    .corusel-content {
        gap: 10px;
    }

    .works-left {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .works-right {
        width: 100%;
        gap: 10px;
    }

    .works-item {
        padding: 8px;
    }

    .founder_content {
        padding: 8px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .founder {
        padding: 0;
    }

    .founder .title {
        max-width: 100%;
        font-size: 20px;
    }

    .corusel {
        padding: 80px 10px;
    }

    .corusel .title {
        max-width: 100%;
    }

    .founder_content .info-text {
        font-size: 16px;
        margin-top: 12px;
    }

    .corusel-item::after {
        display: none;
    }

    .corusel-items>img {
        display: none;
    }

    .corusel-items,
    .corusel-items:nth-of-type(even) {
        /* grid-template-columns: 1fr; */
        display: flex;
    }

    .corusel-items:last-of-type>div:first-of-type {
        display: none;
    }

    .corusel-item {
        width: 100%;
        gap: 8px;
        padding: 8px;
    }

    .corusel-item_left img {
        width: 72px;
    }

    .corusel-item_left::after {
        width: 186px;
        height: 186px;
        background: radial-gradient(rgba(68, 197, 255, 0.2), transparent, transparent);
    }

    .system {
        padding: 10px;
    }

    .status-item {
        min-width: 300px;
        width: 300px;
        padding: 8px;
    }

    .status-item h2 {
        font-size: 24px;
    }

    .status-item button {
        font-size: 16px;
    }

    .status-block {
        width: 100%;
        gap: 10px;
        overflow-x: scroll;
    }

    .system .info-text {
        font-size: 16px;
        margin-top: 12px;
    }

    .pdf-about {
        padding: 80px 10px;
    }

    .pdf-about_content {
        width: 100%;
        gap: 8px;
        padding: 8px;
        text-align: center;
    }

    .pdf-about_content .title {
        font-size: 32px;
    }

    .pdf-about_content .info-text {
        font-size: 16px;
    }

    .logo {
        width: 126px;
    }

    .skill-item span {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        flex-grow: 1;
    }
    #videoModal video {
        width: 90%;
    }
}